{% extends "base.html" %}
{% from "auth/_formhelpers.html" import render_field %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block content %}
<!--start-content-->
<section class="reset-password-form container-fluid mt-5">
    <!--start-row-->
    <div class="row">
        <!--start-col-->
        <div class="col-12">
             <!--start-card-wrapper-->
             <div class="card-wrapper">
                 <!--start-card-->
                <div class="card card-light">
                    <!--start-card-header-->
                    <div class="card-header bg-transparent border-0">
                        <h1 class="mt-5 text-center auth-header">Reset Password</h1>
                        <hr class="divider mt-4">
                        </div>
                        <!--end-card-header-->
                        <!--start-card-body-->
                        <div class="card-body card-body-light">
                            <!--start-form-->
                            <form name="reset-password" method="POST" class="reset-password" action="{{ url_for('auth.reset_password') }}">
                                {{ form.hidden_tag() }}
                                {{ form.csrf_token }}
                                {{ render_field(form.username) }}
                                {{ render_field(form.password) }}
                                {{ render_field(form.confirm_password) }}
                                <div class="card-footer border-0 bg-transparent">
                                    <div class="row" id="buttonRow">
                                        <div class="button-wrapper">
                                            {{ render_field(form.confirm) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex text-center mt-3">
                                    <div class="col-12">
                                        <p>Want to login instead?</p>
                                        <a class="link-text" href="{{ url_for('auth.login') }}">
                                            <div>
                                                <i class="link-text fas fa-sign-in-alt fa-1x"></i>
                                            </div>
                                            <div class="text-center">
                                                <p class="card-footer-text">Login</p>
                                            </div>
                                        </a>
                                </div>
                                </div>
                            </form>
                            <!--./end-form-->   
                        </div>
                    </div>
                    <!--end-card-->
             </div>
             <!--end-card-wrapper-->
        </div>
    </div>
    <!--end-row-->
</section>
<!--./end-content-->
{% endblock %}
