{% extends "base.html" %}
{% from "auth/_formhelpers.html" import render_field %}

{% block content %}
<form name="reset-password" method="POST" class="reset-password" action="{{ url_for('auth.reset_password') }}">
    {{ form.hidden_tag() }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
    <div class="card-footer border-0 bg-transparent">
        <div class="row" id="buttonRow">
            <button type="submit" class="btn btn-info my-3" id="resetButton">
                Reset Password <i class="fas fa-wrench"></i>
            </button>
        </div>
    </div>
    <div class="row d-flex text-center">
        <div class="col-12">
            <p>Want to login instead?</p>
        <a class="link-text" href="{{ url_for('auth.login') }}">Login</a>
    </div>
</form>
{% endblock %}
