import os

os.environ.setdefault("DEBUG", "True")
os.environ.setdefault("SECRET_KEY", "asdasd")
os.environ.setdefault("IP", "localhost")
os.environ.setdefault("PORT", "8000")

os.environ.setdefault("MONGO_DBNAME", "db")
os.environ.setdefault("MONGO_URI", "mongodb://localhost:27017/db")
