asgiref==3.3.4
autopep8==1.6.0
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
bcrypt==3.2.0
boto3==1.17.91
botocore==1.20.91
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.4
crispy-bootstrap5==0.4
cryptography==3.4.7
defusedxml==0.7.1
distlib==0.3.4
dj-database-url==0.5.0
Django==3.2.2
django-allauth==0.41.0
django-countries==7.2.1
django-crispy-forms==1.12.0
django-easy-timezones==0.8.0
django-environ==0.4.5
django-filter==2.4.0
django-heroku==0.0.0
django-model-utils==4.1.1
django-rename-app==0.1.3
django-storages==1.11.1
django-tables2==2.3.4
dnspython==2.2.1
docopt==0.6.2
env==0.1.0
filelock==3.4.0
flake8==3.9.2
Flask==2.0.3
Flask-Login==0.5.0
Flask-Passlib==0.1
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
idna==2.10
ipaddress==1.0.16
itsdangerous==2.1.0
Jinja2==3.0.3
jmespath==0.10.0
jsonify==0.5
Markdown==3.3.4
markdown-checklist==0.4.3
MarkupSafe==2.1.0
mccabe==0.6.1
oauthlib==3.1.0
passlib==1.6.1
Pillow==8.2.0
pipreqs==0.4.11
platformdirs==2.4.0
protobuf==3.17.3
psycopg2==2.9.2
psycopg2-binary==2.8.6
pycodestyle==2.8.0
pycparser==2.20
pyflakes==2.3.1
pygeoip==0.3.2
PyJWT==2.1.0
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2016.6
requests==2.25.1
requests-oauthlib==1.3.0
s3transfer==0.4.2
selenium==3.141.0
six==1.16.0
SQLAlchemy==1.4.32
sqlparse==0.4.1
stripe==2.58.0
toml==0.10.2
urllib3==1.26.4
virtualenv==20.10.0
Werkzeug==2.0.3
whitenoise==5.2.0
yarg==0.1.9
