asttokens==2.0.5
autopep8==1.6.0
backcall==0.2.0
beautifulsoup4==4.10.0
blis==0.7.6
bs4==0.0.1
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cymem==2.0.6
decorator==5.1.1
dnspython==2.1.0
email-validator==1.1.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
executing==0.8.3
Flask==2.0.3
Flask-Admin==1.6.0
Flask-Login==0.5.0
flask-mongoengine==1.0.0
Flask-PyMongo==2.3.0
Flask-WTF==1.0.0
idna==3.3
ipdb==0.13.9
ipython==8.1.1
itsdangerous==2.1.1
jedi==0.18.1
Jinja2==3.0.3
langcodes==3.3.0
MarkupSafe==2.1.0
matplotlib-inline==0.1.3
mongoengine==0.24.0
murmurhash==1.0.6
numpy==1.22.3
packaging==21.3
parso==0.8.3
passlib==1.7.4
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
preshed==3.0.6
prompt-toolkit==3.0.28
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.8.0
pydantic==1.8.2
Pygments==2.11.2
pymongo==4.0.2
pyparsing==3.0.7
requests==2.27.1
six==1.16.0
smart-open==5.2.1
soupsieve==2.3.1
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
srsly==2.4.2
stack-data==0.2.0
thinc==8.0.13
toml==0.10.2
tqdm==4.63.0
traitlets==5.1.1
typer==0.4.0
typing-extensions==4.1.1
urllib3==1.26.8
wasabi==0.9.0
wcwidth==0.2.5
Werkzeug==2.0.3
WTForms==3.0.1
