argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.9.3
asttokens==2.0.5
attrs==21.4.0
autopep8==1.6.0
Bootstrap-Flask==2.0.2
bson==0.5.10
cachelib==0.6.0
certifi==2021.10.8
click==8.0.4
Deprecated==1.2.13
dnspython==2.2.1
Flask==2.0.3
Flask-Login==0.5.0
Flask-PyMongo==2.3.0
Flask-Session==0.4.0
Flask-WTF==1.0.0
greenlet==1.1.2
itsdangerous==2.1.0
Jinja2==3.0.3
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
keyring==23.5.0
kiwisolver==1.4.0
lazy-object-proxy==1.7.1
MarkupSafe==2.1.0
mongoengine==0.24.0
packaging==21.3
pycodestyle==2.8.0
pymongo==4.0
pyparsing==3.0.7
python-dateutil==2.8.2
redis==4.1.4
six==1.16.0
SQLAlchemy==1.4.32
toml==0.10.2
tomli==2.0.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
twine==3.8.0
typing_extensions==4.1.1
urllib3==1.26.8
virtualenv==20.13.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
wrapt==1.13.3
WTForms==3.0.1