{% extends "base.html" %}

{% block heading %}
    <h1>Home page</h1>
{% endblock %}

{% block content %}
<button id="filterPanel" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter"
    aria-expanded="false" aria-controls="collapseFilter">
    Open Filter Panel
</button>
<div class="collapse" id="collapseFilter">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xl-1 filterLabel" id="nace1lab">
            <label for="nace-1-list">Nace Code 1</label>
        </div>
        <div class="col-sm-8 col-md-8 col-xl-3" id="nace1">
            <select class="form-select " aria-label="Dropdown list for Nace 1 codes" id="nace-1-list">
            </select>
        </div>
        <div class="col-sm-3 col-md-3 col-xl-1 filterLabel" id="nace2lab">
            <label for="nace-2-list">Nace Code 2</label>
        </div>
        <div class="col-sm-8 col-md-8 col-xl-3" id="nace2">
            <select class="form-select" aria-label="Dropdown list for Nace 2 codes" id="nace-2-list">
            </select>
        </div>
        <div class="col-sm-3 col-md-3 col-xl-1 filterLabel" id="nace3lab">
            <label for="nace-3-list">Nace Code 3</label>
        </div>
        <div class="col-sm-8 col-md-8 col-xl-3" id="nace3">
            <select class="form-select" aria-label="Dropdown list for Nace 3 codes" id="nace-3-list">
            </select>
        </div>
    </div>
    <!-- Category -->
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xl-1 filterLabel" id="categorylab">
            <label for="category-list">Categories</label>
        </div>
        <div class="col-sm-8 col-md-8 col-xl-3" id="categories">
            <select class="form-select" size="4" multiple aria-label="multiple select list for category codes" id="category-list">
            </select>
        </div>
    </div>

    <div id="filterButtonRow" class="col-sm">
        <button id="filter" type="submit" class="btn btn-primary">Filter</button>
        <button id="reset" type="submit" class="btn btn-outline-primary">Reset Filter</button>
    </div>
</div>
<div class="row">
    <div id="map"></div>
</div>
{% endblock %}
