@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* P = Primary | S = Secondary | T = Tertiary */
    --p-orange: #E84610;
    --p-blue: #009FE3;
    --p-grey: #4A4A4F;
    --p-navy: #445261;
    --p-red: #D63649;
    --s-grey: #E6ECF0;
    --s-yellow: #EFB920;
    --s-pink: #FF5A60;
    --s-teal: #23BBBB;
    --t-grey: #E0E7FF;
    --bg-grey: #F5F5F5;
}

/* ------------ Main Text Content ------------ */
h1 {
    font-family: 'Montserrat', sans-serif;
}


/* ------------ Navigation ------------ */
a,
a.link-text {
    text-decoration: none;
    color: var(--p-blue);
}

a,
a.link-text:hover {
    color: var(--p-navy);
}
/* ------------./end-navigation ------------ */


/* ------------ Authentication Forms ------------ */
#registerForm {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

main.container-fluid.p-3 {
    background-color: var(--bg-grey);
    min-height: 100vh;
    overflow: hidden;
    margin: 0px auto;
}


input, input#username, input#password {
    font-family: 'Montserrat', sans-serif;
    color: var(--p-navy);
}

.card-wrapper {
    display: flex;
    justify-content: center;
    height: auto;
    margin: auto;
    max-width: 500px;
    padding: 15px;
}

.card {
    -webkit-box-shadow: 5px 5px 20px var(--p-grey);
    -moz-box-shadow: 5px 5px 20px  var(--p-grey);
    box-shadow: 5px 5px 20px var(--p-navy);
    border: none;
}

form.login-form,
form.register-form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
}

button#loginButton,
#registerButton {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    margin-top: 20px;
    width: fit-content;
    background-color: var(--p-blue);
    box-shadow: 0 0 10px var(--p-navy);
    border: none;
    color: var(--s-grey);
    text-shadow: 1px 1px 1px var(--p-navy);
}

#loginButton:hover,
#registerButton:hover {
    background-color: var(--p-navy);
    color: var(--t-grey);
}

#buttonRow {
    align-items: center;
    display: flex;
    justify-content: center;
}

p.login-redirect {
    font-family: 'Montserrat', sans-serif;
}

.flash-message {
    transition: opacity 1s;
}
/* ------------./end-authentication-forms ------------ */
