{% extends "base.html" %}
{% block content %}
  <form class="col s12" method="POST" action="{{ url_for('game_add') }}">
    <div class="row">
      <div class="input-field col s12">
        <input autocomplete="off" placeholder="Please enter your business name"
         id="organisation_name" name="organisation_name" type="text" class="validate" required>
        <label for="organisation_name">Game Name</label>
      </div>
    </div>
    <!-- <div class="row">
      <div class="input-field col s12">
        <input autocomplete="off" placeholder="Please enter business location latitude"
         id="latitude" name="latitude" type="text" class="validate" required>
        <label for="latitude">Latitude</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input autocomplete="off" placeholder="Please enter business location longitude"
         id="longitude" name="longitude" type="text" class="validate" required>
        <label for="longitude">Longitude</label>
      </div>
    </div> -->
    <div class="row">
      <div class="input-field col s12">
        <input autocomplete="off" placeholder="Please enter NACE code 1"
         id="nace_1" name="nace_1" type="text" class="validate" required>
        <label for="nace_1">NACE code 1</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input autocomplete="off" placeholder="Please enter NACE code 1 label"
         id="nace_1_label" name="nace_1_label" type="text" class="validate" required>
        <label for="nace_1_label">NACE code 1 label</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input autocomplete="off" placeholder="Please enter enter NACE code 2"
         id="nace_2" name="nace_2" type="text" class="validate" required>
        <label for="nace_2">NACE code 2</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input autocomplete="off" placeholder="Please enter enter NACE code 2 label"
         id="nace_2_label" name="nace_2_label" type="text" class="validate" required>
        <label for="nace_2_label">NACE code 2 label</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input autocomplete="off" placeholder="Please enter NACE code 3" id="nace_3"
         name="nace_3" type="text" class="validate" required>
        <label for="nace_3">NACE code 3</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input autocomplete="off" placeholder="Please enter NACE code 3 label"
         id="nace_3_label" name="nace_3_label" type="text" class="validate" required>
        <label for="nace_3_label">NACE code 3 label</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input autocomplete="off" placeholder="Please enter the business's website"
         id="web_address" name="web_address" type="text" class="validate" required>
        <label for="web_address">Website</label>
      </div>
    </div>
    <div>
      <button id="business-add-submit" type="submit" class="col s6 btn-large">
        Submit
      </button>
      <a id="business-add-cancel" class="col s6 btn-large">
        Cancel
      </a>
    </div>
  </form>
{% endblock %}