<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap5.1 CDN -->
	<!-- Compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">	{% block title %}
	<!-- Bootstrap Icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<!-- Leaflet Stylesheet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin="" />
	<!-- Site stylesheet -->
	<link rel="stylesheet" href="static/css/style.css">
	
	<title>Business Analysis Project</title>
	{% endblock %}
</head>
{% block styles %}
{% endblock %}

<body>
	<!--Start Header-->
	<header>
		<!--Main Navigation Goes Here-->
		<!--./end-main-navigation-->
	</header>
	<!--./end-header-->
	<!--Start Main Content-->
	<main class="container">
		<!--Main Content Goes Here-->
		{% block content %}
		{% endblock %}
	</main>
	<!--./end-main-content-->
	<!--Start Footer-->
	<footer></footer>
	<!--./end-footer-->
	
	<!-- Bootstrap Bundle JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!-- Inline script to populate companies array from list passed to template from python
		 This must be before the leaflet script and the leaflet script must be before the apps custom script as
		otherwise the list will be undefined -->
	<script>
		const companies = JSON.parse('{{ organisations|tojson|safe }}'); 
	</script>
	<!-- Leaflet JavaScript - Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>
	<!-- App's custom Javascript -->
	<script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
	
	<!-- Block to implement custom scripts for template specific -->
	{% block javascripts %}
	{% endblock %}
</body>

</html>