{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<main class="form-login">
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card-wrapper mt-5">
				<div class="card login-card">
					<div class="row">
						<div class="col-12">
							<h1 class="my-3 pt-3 mt-lg-5 text-center">Login</h1>
						</div>
					</div>
					<form name="login" method="POST" class="login-form" action="{{ url_for('login') }}">
						{{ form.hidden_tag() }}
						{{ wtf. form_field(form.username) }}
						{{ wtf. form_field(form.password) }}
						{{ wtf.form_field(form.remember) }}
						<div class="card-footer bg-transparent">
							<div class="row" id="buttonRow">
								<button type="submit" class="btn btn-info my-3" id="loginButton">
									Log In <i class="fas fa-sign-in-alt"></i>
								</button>
							</div>
						</div>
						<div class="row d-flex text-center">
							<div class="col-12">
								<p>Don't have an account?</p>
							<a class="link-text" href="{{ url_for('register') }}">Register</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</main>
{% endblock %}