{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h1 class="my-2 text-center">Logout</h1>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-8 offset-2">
			<h4 class="display-4">Are you sure you want to logout?</h4>
		</div>
	</div>
	<div class="row d-flex text-center">
		<div class="col-12">
			<button class="btn btn-info my-3" id="logoutButton">
				<a href="{{ url_for('logout') }}">Logout
				<i class="fas fa-sign-out-alt"></i>
			</a>
				</button>
		</div>
	</div>
</div>
{% endblock %}