{% extends "base.html" %}
{% block content %}
<h1>Organisations list</h1>

{% if organisations %}
<table class="table table-hover table-responsive-md">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">NACE code</th>
            <th scope="col">NACE label</th>
            <th scope="col">Web address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for organisation in organisations %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ organisation.organisation_name }}</td>
            <td>{{ organisation.nace_3 }}</td>
            <td>{{ organisation.nace_3_label }}</td>
            <td><a href={{ organisation.web_address }}>{{ organisation.web_address }}</a></td>
            <td>
                <a href="{{ url_for('organisation_edit', organisation_id=organisation._id) }}" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                    <i class="bi bi-pencil-square" aria-hidden="true"></i>
                    <span class="visually-hidden">Edit organisation</span>
                </a>
                <a href="{{ url_for('organisation_delete', organisation_id=organisation._id) }}" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                    <i class="bi bi-trash" aria-hidden="true"></i>
                    <span class="visually-hidden">Delete organisation</span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No organisations found.</p>
{% endif %}
<a href="{{ url_for('organisation_create') }}" class="btn btn-primary">Create new organisation</a>
{% endblock %}