{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h1 class="my-2 text-center">Register</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-10 offset-2">
<div class="card-wrapper mt-5">
	<div class="card">
		<form name="register" method="POST" action="{{ url_for('register') }}">
			
			<label for="username">username</label>
			<input id="username" name="username" type="text" class="form-control" required>

			<label for="email">Email</label>
			<input type="email" name="email" id="email" class="form-control" placeholder="Email" required>

			<label for="password">Password</label>
			<input id="password" name="password" type="password" class="form-control" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
		
			<input type="submit" value="Register" class="btn btn-primary btn-block">
		</form>
	</div>
</div>
</div>
</div>
</div>


{% endblock %}