{% extends "base.html" %}

{% block extra_title %} Organisations List{% endblock %}
{% block extra_keywords %}, organisation, organisations, create{% endblock %}

{% block metas %}
    <link rel="canonical" href="/organisations">
    <meta name="description" content="Information about businesses within the Dún Laoghaire-Rathdown County Council area in Ireland.">
    <meta property="og:description" content="Information about businesses within the Dún Laoghaire-Rathdown County Council area in Ireland." />
    <meta name="image" property="og:image" content="LINK TO IMAGE" />
    <meta property="og:image:alt" content="A list of businesses with information about those businesses" />
    <meta property="og:url" content="/organisations" />
    <meta name="twitter:description" content="Information about businesses within the Dún Laoghaire-Rathdown County Council area in Ireland.">
    <meta name="twitter:image" content="LINK TO IMAGE">
    <meta name="twitter:image:alt" content="A list of businesses with information about those businesses">
{% endblock %}

{% block content %}
    <h1>Organisations list</h1>

{% if organisations %}
<table class="table table-hover table-responsive-md">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">NACE code</th>
            <th scope="col">NACE label</th>
            <th scope="col">Web address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for organisation in organisations %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ organisation.organisation_name }}</td>
            <td>{{ organisation.nace_3 }}</td>
            <td>{{ organisation.nace_3_label }}</td>
            <td><a href={{ organisation.web_address }}>{{ organisation.web_address }}</a></td>
            <td>
                <a href="{{ url_for('organisations.edit_organisation', organisation_id=organisation._id) }}" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                    <i class="bi bi-pencil-square" aria-hidden="true"></i>
                    <span class="visually-hidden">Edit organisation</span>
                </a>
                <a href="{{ url_for('organisations.delete_organisation', organisation_id=organisation._id) }}" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                    <i class="bi bi-trash" aria-hidden="true"></i>
                    <span class="visually-hidden">Delete organisation</span>
                </a>
                <!-- Favourites company-->
                {% if organisation._id in user.favourites %}
                <button class="btn btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from favourite">
                    <i class="bi bi-heart-fill" aria-hidden="true"></i>
                    <span class="visually-hidden">Favourited company</span>
                </button>
                {% else %}
                <button class="btn btn-outline-dark" data-action="add-favourite" data-company="{{organisation._id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to favourite">
                    <i class="bi bi-heart" aria-hidden="true"></i>
                    <span class="visually-hidden">Add to favourite</span>
                </button>
                {% endif %}              
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No organisations found.</p>
{% endif %}
<a href="{{ url_for('organisations.create_organisation') }}" class="btn btn-primary">Create new organisation</a>
{% endblock %}

{% block scripts %}
<!-- block script for favourites scripts -->
<script src="{{ url_for('static', filename='js/favourites.js')}}"></script>
{% endblock %}